/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* FM styles */

ol {
    list-style-type: none;
    text-align: center;
    font-family: 'SourceSansPro-Light';
}

li {
    font-family: 'SourceSansPro-Light';
}


/* body styles */

body {
    padding: 5%;
}

h1 {
    font-size: 3em;
    padding-top: 3em;
    text-align: center;
    font-family: 'SourceSansPro-Black';
}

h2 {
    font-size: 1.5em;
    margin-bottom: 1.5em;
    text-align: center;
    font-family: 'SourceSansPro-Semibold';
}

h2.withFootnote {
    margin-bottom: inherit;
}

h3 {
    text-indent: 1.4em;
    text-align: center;
    font-family: 'SourceSansPro-Light';
}

h3.withFootnote {
    margin-bottom: 1.5em;
}

p {
    text-indent: 1em;
    text-align: justify;
    font-family: 'SourceSansPro-Light';

}

p.noindent {
    text-indent: 0em;
    text-align: justify;
    font-family: 'SourceSansPro-Light';
}

blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 3.5em;
    margin-inline-end: 3.5em;
    border-left: 3px solid grey;
    padding-left: 1em;
}

aside {
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    text-align: center;
}

b {
    font-family: 'SourceSansPro-Black';
    font-weight: bolder;
}

i {
    font-family: inherit;
    font-style: italic;
}

aside i {
    font-family: 'SourceSansPro-SemiboldIt';
    font-style: italic;
}

b i,
i b {
    font-family: 'SourceSansPro-BlackIt';
    font-style: italic;
    font-weight: bolder;
}

.poem {
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}

.poem .stanza {
    margin: 1em 0 1em 0;
}

.poem p {
    display: block;
    margin: 0;
    padding-left: 3em;
    text-indent: -3em;
}

.poem .i2 {
    display: block;
    margin-left: 1em;
}

/* image styles */

div.cover {
    text-align: center;
    page-break-inside: avoid;
}

/* audio styles */

div.audio {
    text-align: center;
}

/* fonts */

@font-face {
    font-family: 'SourceSansPro-Black';
    font-style: normal;
    font-weight: bolder;
    src: url(fonts/SourceSansPro-Black.otf);
}

@font-face {
    font-family: 'SourceSansPro-BlackIt';
    font-style: italic;
    font-weight: bolder;
    src: url(fonts/SourceSansPro-BlackIt.otf);
}

@font-face {
    font-family: 'SourceSansPro-Light';
    font-style: normal;
    font-weight: lighter;
    src: url(fonts/SourceSansPro-Light.otf);
}

@font-face {
    font-family: 'SourceSansPro-LightIt';
    font-style: italic;
    font-weight: lighter;
    src: url(fonts/SourceSansPro-LightIt.otf);
}

@font-face {
    font-family: 'SourceSansPro-Semibold';
    font-style: normal;
    font-weight: bold;
    src: url(fonts/SourceSansPro-Semibold.otf);
}

@font-face {
    font-family: 'SourceSansPro-SemiboldIt';
    font-style: italic;
    font-weight: bold;
    src: url(fonts/SourceSansPro-SemiboldIt.otf);
}